:root {
    --border-color: black;
    --background-color: rgb(211, 211, 211);
    --shadow-color: rgba(0, 0, 0, 60%);
    --button-border-color: black;
    --credit-border-color: black;
    --button-background-color: var(--background-color);
    --button-background-color-hover: rgb(238, 255, 0);
    --button-primary-color: hsl(109, 100%, 40%);
    --button-primary-color-background: hsla(109, 100%, 40%, 10%);
    --button-primary-color-hover: hsla(109, 100%, 40%, 25%);
    --button-primary-color-active: hsla(109, 100%, 40%, 50%);
    --main-background-a: hsl(33, 100%, 55%);
    --main-background-b: hsl(0, 82%, 35%);
}

.card {
    background-color: var(--background-color);
    padding: 12px;
    margin: 12px;
    box-shadow: var(--shadow-color) 8px 8px;
}

.inner-card {
    background-color: var(--background-color);
    padding: 12px;
    margin: 4px;
    box-shadow: var(--shadow-color) 4px 4px;
    border: 2px solid var(--shadow-color);
}

.column {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

button {
    background-color: var(--button-background-color);
    border: 2px solid var(--button-border-color);
}

.button-primary {
    border: 2px solid var(--button-primary-color);
    background-color: var(--button-background-color);
}

.button-primary:hover {
    background-color: var(--button-primary-color-hover);
}

.button-primary:active {
    background-color: var(--button-primary-color-active);
}

button:hover {
    background-color: var(--button-background-color-hover)
}

p, h3 {
    padding: 0;
    margin: 0;
}
.expand {
   flex: 1;
}

.layout-bigleft {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.layout-onlyone {
    display: grid;
    grid-template-columns: 1fr;
}

.layout-bigright-4way {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 1fr 1fr;
}

.layout-bigright {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.test-background {
    margin: 20px 0px;
}

html {
    background: repeating-conic-gradient(
            var(--main-background-a) 0% 25%,
            var(--main-background-b) 0% 50%
    );
    background-size: 50px 50px;
}

body, html {
    display: flex;
    flex: 1;
    height: 99%;
}
body {
    padding: 0px 100px;
}

.hidden {
    display: none;
}

input[type=number] {
    width: 45px;
}

input[type=radio] {
    border: 1px red solid;
}

.flex-item-right {
    margin-left: auto;
}

.centered {
    align-items: center;
}

.button-pay {
    border-color: red;
    background-color: rgba(255, 0, 0, 10%);
}

.button-pay:hover {
    background-color: rgba(255, 0, 0, 30%);
}

.button-pay:active {
    background-color: rgba(255, 0, 0, 50%);
}

.button-l {
    height: 35px;
    font-size: 11pt;
}

hr {
    width: 100%;
}
